<div class="container " style="position: relative; height: 90%; max-width: 100%;" >
  <div class="row center-block text-center" style="background-color: red; position: relative; top: 20%;text-align: center; display: block; ">
     <div style="background-color: green; display: inline-block; width: 70%; margin: 0;">
        <input type="text" placeholder="search" style="height: 50px;width: 88%;float: center; margin-top: 1%;margin-bottom: 1%;">
        <button>Search</button>
        <button>filter</button>
     </div>
  </div>
  <div class="row d-flex justify-content-center" style="background-color: yellow; position: relative; top: 30%;align-items: center;width: dfsd;">
     <app-card style="width: auto;"></app-card>
     <app-card style="width: auto;"></app-card>
     <app-card style="width: auto;"></app-card>
     <app-card style="width: auto;"></app-card>
     <app-card style="width: auto;"></app-card>
     <app-card style="width: auto;"></app-card>
     <app-card style="width: auto;"></app-card>
     <app-card style="width: auto;"></app-card>
     <app-card style="width: auto;"></app-card>
     <app-card style="width: auto;"></app-card>
     <app-card style="width: auto;"></app-card>
     <app-card style="width: auto;"></app-card>
     <app-card style="width: auto;"></app-card>
     <app-card style="width: auto;"></app-card>
  </div>
</div>