

<mat-grid-list cols="4" rowHeight="85%" class="searchbar-section" >
    
    <div class="blur"></div>


  <mat-grid-list  cols="4"  class="bg-text example">

    
        <input matInput placeholder="  Ex. Python, Aws" class="searchbar" >
        <span class="sbarbtn_area">
            <button mat-stroked-button color="primary" class="sbarbtn">Search</button>
            <button mat-stroked-button color="primary" class="sbarbtn">Filter</button>
        </span>



        
        
  </mat-grid-list>

  <mat-grid-list cols="4" class="trending">
    <mat-grid-tile [colspan]="1"><app-card></app-card></mat-grid-tile>
    <mat-grid-tile [colspan]="1"><app-card></app-card></mat-grid-tile>
    <mat-grid-tile [colspan]="1"><app-card></app-card></mat-grid-tile>
    <mat-grid-tile [colspan]="1"><app-card></app-card></mat-grid-tile>

   
    
  </mat-grid-list>

  