.logo{
    width: 90%;
    height: auto;
    margin-left: 10px;
    padding-top: 5px;
    padding-right: 0px;
    }
.header-spacer {
        padding-left: 5%;
      }


.mat-toolbar{
    background-color: white;
    margin-left: 0px;
    padding-left: 0px;
    height: 110px;
}

.logo-placement{
    background-color: white;
    padding-right: 0px;
    height:100%;
}

.nav{
    width: 100%;
    background-color: #B658E2;

    padding: 5px;
    margin-top: 3%;
}

.mat-stroked-button{
    color: white;
    font-size: 20px;
    border-color: transparent;
}


.auth-buttons{
    float: right;
}

@import "~bootstrap/dist/css/bootstrap.css";