html{
    background-color: green;
    height: 100%;
}
body {
   background-color: rebeccapurple;
   height: 100%;
  
  
    
  }


  .main-container{
      background-image: url("background.png");


  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(2px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(255, 0, 150, 0.3);

  }