
  <img src="http://localhost:3000/api/sheets/public/uploads/1608092600052-diplome.jpg" class="card-img-top"  style="height: 60%;" alt="...">
  <div class="card-body">
     <h5 class="card-title">{{title}}</h5>
     <p class="card-text">{{desc}}</p>
     <a href="#" class="btn btn-primary"  style="float: left;">{{tags}} </a>
     <span style="float: right;">{{likes}} likes         <img src="../../assets/img/avatar.png" style="  vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%; " ></span>
  </div>
