

<div class="bg">
  <div class="overlay"></div>
</div>
<div class="searchbar ">
  <div class="row ">
     <div class="col-md-10">
        <input type="text"  class="form-control search-input" placeholder="Search" >
     </div>
     <div class="col-md-2"> 
        <button class="primary btn-search">Search</button>
        <button class="primary btn-search">Filter</button>
     </div>
  </div>
</div>

<div class=" trending-section">

  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>


</div>