
  .main-container{
    background-image: url("../../../../assets/img/background.png");


/* Add the blur effect */

/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
box-shadow:inset 0 0 0 2000px rgba(255, 255, 150);

}