<div class="container " style="position: relative; height: 90%; max-width: 100%;" >





    <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()" >
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" formControlName="email">

          <div *ngIf="isValidInput('email',loginForm)"
          class="alert alert-danger">
          <div *ngIf="loginForm.controls['email'].errors.required">
             Email is required.
          </div>
          
       </div>

        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" formControlName="password">
          <div *ngIf="isValidInput('password',loginForm)"
          class="alert alert-danger">
          <div *ngIf="loginForm.controls['password'].errors.required">
            password is required
          </div>
          
       </div>

        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
       
        </div>
        <input type="submit" value="Submit" >
      </form>

      <div  *ngIf="loginRes">
        <span >{{loginRes}}</span>
      
      
    </div>

    </div>
    
    